@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}


.todoSection{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.todoContainer{
    max-width: 100%;
    width: 400px;
    height: 500px;
    border: 1px solid #333;
    box-shadow: 0 0 10px #333, 0 0 10px #333 inset;
    border-radius: 8px;
    padding: 20px;
}

.todoHeader{
    >.App{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

.todoBody{
    >.todoInput{
        margin-bottom: 20px;
        >#todoForm{
            display: flex;
            >.text{
                width: 80%;
                padding: 10px;
                border: 1px solid #333;
                border-radius: 5px 0 0 5px;
                outline: none;
            }
            >button{
                width: 20%;
                padding: 10px;
                border: none;
                background-color: #333;
                color: #fff;
                border-radius: 0 5px 5px 0;
                cursor: pointer;
                outline: none;
            }
        }
    }

    >.todoList{
        >#todoList{
            list-style: none;
            >.list{
                display: flex;
                border-bottom: 1px solid #333;
                align-items: center;
                padding: 10px 0;

                >.todoText{
                    &.completed{
                        text-decoration: line-through;
                    }
                }

                >.todoCompleted{
                    margin-left: auto;
                    margin-right: 8px;
                    cursor: pointer;
                    padding: 8px;
                    background-color: #0a0;
                    border-width: 0;
                    color: #fff;
                    border-radius: 5px;
                    &.disabled{
                        background-color: #ccc;
                        cursor: not-allowed;
                    }
                }

                >.todoDelete{
                    cursor: pointer;
                    padding: 8px;
                    background-color: #a00;
                    border-width: 0;
                    color: #fff;
                    border-radius: 5px;
                }
            }
        }
    }
}